<div class="navbar navbar-inverse navbar-fixed-top">
<div class="navbar-inner">
  <div class="container">
    <a class="brand" href="#">Ruby Game</a>
  </div>
</div>
</div>


<div class="container">

<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit make_rel">
  <h5 class="instructional_heads">This problem uses the following array:</h5>
  <h3 class="array_placer"></h3>
  <h5 class="instructional_heads">Here is the problem:</h5>
  <h2 class="problem_placer"></h2>
  <h5 class="instructional_heads">Enter your answer below: (What is the output?)</h5>
  <div class="array_input_line">
    <p>[</p>
    <div class="array_input_text_boxes">
    </div>
    <p>]</p>
  </div>
  <%= image_tag("delete.png", class: "delete_element_button") %>
  <h6 class="instructional_heads"><i>Hit "Enter" to add element to array. DON'T USE QUOTES!</i></h6>
  <%= image_tag("winning.png", class: "winning") %>
</div>

</div> <!-- /container -->

<hr>

<div class="container">
<p>Please contribute more problems <%= link_to "HERE", "https://github.com/nemrow/ruby_game_2/blob/master/app/assets/javascripts/problems_script.js" %>
	or let me know if you find any bugs nemrowj@gmail.com</p>
</div>

<script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="problems_script.js"></script>
<script type="text/javascript" src="game_script.js"></script>